<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>COVID19 IDM | Simulator</title>

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">

  <link rel="stylesheet" href="{{ url_for('static', filename='vendors/iconly/bold.css') }}">
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ url_for('static', filename='vendors/perfect-scrollbar/perfect-scrollbar.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='vendors/bootstrap-icons/bootstrap-icons.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.svg') }}" type="image/x-icon">
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css"
    integrity="sha256-siyOpF/pBWUPgIcQi17TLBkjvNgNQArcmwJB8YvkAgg=" crossorigin="anonymous" />


  <!--Plugin CSS file with desired skin-->
  <link rel="stylesheet" href="/static/css/ion.rangeSlider-master/css/ion.rangeSlider.min.css" />
</head>

<body>

  <div class="loading-body">
    <div id="app">
      <nav class="navbar navbar-expand-lg navbar-light fixed-top">
        <div class="container-fluid ps-0 pe-0 text-light ">
          <a class="navbar-brand d-flex" href="#">
            <img class="icmr-logo pb-2" src="{{ url_for('static', filename='images/icmr.jpg') }}" alt="icmr-logo">
            <h3 class="nav-title ms-2 pt-1 text-light d-sm-none d-lg-block">CHROMIC SIMULATOR <em>for</em> COVID 19
            </h3>
            <h3 class="nav-title-xs ms-2 text-light d-lg-none ">CHROMIC SIMULATOR</h3>
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon">
              <i class="fa fa-bars pt-1"></i>
            </span>
          </button>
          <div class="collapse navbar-collapse justify-content-end  ms-5 ps-5 pe-0" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto  ">

              <li class="nav-item">
                <a class="nav-link  d-flex" href="/about/" data-bs-toggle="collapse"
                  data-bs-target=".navbar-collapse.show">
                  <i class="fa fa-globe pt-1 pe-2" aria-hidden="true"></i>
                  <span>About</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link active text-light d-flex" href="/advanced-dashboard/" data-bs-toggle="collapse"
                  data-bs-target=".navbar-collapse.show">
                  <i class="fa fa-dashboard pt-1 pe-2" aria-hidden="true"></i>
                  <span>Simulator</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link  d-flex" onclick="printPDF()" href="#" data-bs-toggle="collapse"
                  data-bs-target=".navbar-collapse.show">
                  <i class="fa fa-print pt-1 pe-2" aria-hidden="true"></i>
                  <span>Print</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link  d-flex" href="/" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">
                  <i class="fa fa-sign-out pt-1 pe-2" aria-hidden="true"></i>
                  <span>Log out</span></a>
              </li>

            </ul>

          </div>
        </div>
      </nav>
      <div id="sidebar" class="active">

        <div class="slimScrollDiv sidebar-wrapper active">
          <form name="simulationform" action="/advanced-dashboard/" method="POST" class="form form-vertical hbar">
            <div class="sidebar-header ms-0 me-0 pt-0 pb-0 pe-0 ps-0 d-xl-none d-block">
              <div class="button-close">

                <div class="toggler">
                  <a href="#" class="sidebar-hide  d-xl-none d-block"><i class="bi bi-x bi-middle"></i></a>
                </div>
              </div>
            </div>
            <div class="sidebar-menu mt-3">


              <div class="input-group mb-1 me-3 ms-3">
                <span class="input-group-text" id="inputGroup-sizing-default">Type State/District Name</span>
                <input type="text" name="place" value="{{ place }}" class="form-control me-5" id="place">
              </div>
              <h5 class="ms-3 mb-2 mt-2 pt-2">Natural History & Demographic Parameters </h5>
              <div class="form-no-1">


                <div class="form-no-1">
                  <div class="form-group ms-lg-4 ms-1 row mb-1 mb-xl-3 sliderContainer">
                    <label for="inputhwa" class="col-sm-8  col-form-label" id="wave">Enter First Wave Details</label>
                  </div>

                  <div class="form-group ms-lg-4 ms-1 mt-1 ps-3 row mb-1 mb-xl-3 sliderContainer">
                    <label for="inputfpd" class="col-sm-5 ps-2 col-form-label">Date - first wave peak:</label>
                    <div class="col-sm-6 ps-2">
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                        </div>
                        <input type="text" value="{{FirstPeaktDate}}" class="form-control fpd" id="inputfpd"
                          name="FirstPeaktDate">
                      </div>
                    </div>
                  </div>

                  <div class="form-group row ms-1 ps-4 sliderContainer">
                    <label for="inputhsp" class="col-sm-6 pe-0 col-form-label">Seroprevalence at peak (%):
                      <sup class="myDIV"><i class="fa fa-question-circle-o"></i></sup>
                      <div class="hide" id="hidden-text">Seroprevalence for a State or a District in this parameter can
                        either be drawn from National average or State or
                        District data, if available around the time that the first wave reached its peak.
                      </div>
                    </label>

                    <div class="col-sm-5 ps-2 pe-3">
                      <input min="0" type="number" name="seropeak" max="100" value="{{seropeak}}"
                        class="form-control sliderval" id="inputhsp" step="0.001">
                    </div>
                    <div class="col-sm-11 ps-3 pe-0 mt-2 hide">
                      <input type="text" name="" class="form-control inputslider" id="inputhspslider"
                        placeholder="Slider">
                    </div>
                  </div>
                </div>


                <div class="form-group ms-lg-4 ms-1 ps-2 mt-2 pt-2 row mb-1 mb-xl-3 sliderContainer">

                  <label for="inputhrc" class="col-sm-6 pe-0 col-form-label">Absolute number of symptomatic cases
                    reported on the first wave peak date:
                  </label>

                  <div class="col-sm-5 ps-2 pt-4 pe-3">
                    <input min="0" name="fCases" value="{{fCases}}" type="number" max="2000000"
                      class="form-control sliderval" id="inputhrc">
                  </div>
                  <div class="col-sm-11 ps-3 pe-2 mt-2 hide">
                    <input type="text" name="" class="form-control inputslider" id="inputhrcslider"
                      placeholder="Slider">
                  </div>

                </div>

                <div class="form-no-1">
                  <div class="form-group ms-lg-4 ms-1 row mb-1 mb-xl-3 sliderContainer">
                    <label for="inputhwa" class="col-sm-9 col-form-label" id="wave">Enter Second Wave Details</label>
                  </div>

                  <div class="form-group ms-lg-4 ms-1 mt-1 ps-3 row mb-1 mb-xl-3 sliderContainer">
                    <label for="inputspd" class="col-sm-5 ps-2 col-form-label">Date - second wave peak:</label>
                    <div class="col-sm-6 ps-2">
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                        </div>
                        <input type="text" value="{{SecondPeaktDate}}" class="form-control fpd" id="inputspd"
                          name="SecondPeaktDate">
                      </div>
                    </div>
                  </div>

                  <div class="form-group ms-lg-4 ms-1 ps-2 mt-2 pt-2 row mb-1 mb-xl-3 sliderContainer">

                    <label for="inputhsrc" class="col-sm-6 pe-0 col-form-label">Absolute number of symptomatic cases
                      reported on the second wave peak date:
                    </label>

                    <div class="col-sm-5 pt-4 ps-2 pe-3">
                      <input min="0" name="sCases" value="{{sCases}}" type="number" max="2000000"
                        class="form-control sliderval" id="inputhsrc">
                    </div>
                    <div class="col-sm-11 ps-3 pe-2 mt-2 hide">
                      <input type="text" name="" class="form-control inputslider" id="inputhsrcslider"
                        placeholder="Slider">
                    </div>

                  </div>
                </div>

                <div class="form-group ms-lg-4 ms-1  mt-2 pt-2 row mb-1 mb-xl-3 sliderContainer hide">

                  <label for="inputhwa" class="col-sm-7 col-form-label">Reproduction Rate (R<sub>0</sub>)

                    <sup class="myDIV"><i class="fa fa-question-circle-o"></i></sup>
                    <div class="hide" id="hidden-text">R<sub>0</sub> is the basic reproduction number, defined as the
                      average number
                      of secondary cases caused by an infectious person, in an otherwise susceptible population. As
                      described below, default values are provided for R<sub>0</sub> in the first and second waves,
                      consistent with
                      the epidemic at the country level. You are free to adjust these as you wish.
                      <br><br>
                      <ul>
                        <li>Suggested Low range (best-case scenario): 1 - 1.5. For example, the first wave in India had
                          an
                          R<sub>0</sub> of
                          around 1.2.</li>
                        <li>Suggested Moderate range: 1.5 - 2.0.</li>
                        <li>Suggested High range (worst-case scenario): 2.0 and greater.</li>
                      </ul>
                    </div>
                    <br /><a href="/seroprevalence-table/"><small>Click for Seroprevalence Table</small></a>
                  </label>
                  <div class="row ms-0 ps-0 sliderContainer">
                    <label for="inputhbc" class="col-sm-4 pe-0 col-form-label">R<sub>0</sub>(Wave 1):
                      <sup class="myDIV"><i class="fa fa-question-circle-o"></i></sup>
                      <div class="hide" id="hidden-text">At the national level, the country reached a seroprevalence of
                        around 7.1% in mid-September 2020. This is best captured with an R<sub>0</sub> of 1.2. However,
                        individual
                        states may vary. Please enter the value of R<sub>0</sub> that best captures seroprevalence in
                        your
                        setting,
                        as of mid-September 2020.
                      </div>

                    </label>

                    <div class="col-sm-4 ps-2 pe-4">

                      <input min="1.02" type="number" value="" max="6" class="form-control sliderval" id="inputhb1"
                        step="0.001">


                    </div>
                    <div class="col-sm-3 ps-0 pe-0">
                      <input type="text" class="form-control inputslider" id="inputhb1slider" placeholder="Slider">
                    </div>
                  </div>
                  <div class="row mt-2 ms-0 ps-0 sliderContainer">
                    <label for="inputhbc" class="col-sm-4 pe-0 col-form-label">R (Wave 2):
                      <sup class="myDIV"><i class="fa fa-question-circle-o"></i></sup>
                      <div class="hide" id="hidden-text">At the national level, the peak of the second wave was 4 times
                        higher than the peak of the first wave. This is best captured with an R of 2.2.
                        However,
                        individual states may vary. Please enter the value of R that best captures the
                        relative heights
                        of first and second waves in your setting.
                      </div>
                    </label>
                    <div class="col-sm-4 ps-2 pe-4">

                      <input min="1.02" type="number" value="" max="6" class="form-control sliderval" id="inputhb2"
                        step="0.001">


                    </div>
                    <div class="col-sm-3 ps-0 pe-0">
                      <input type="text" class="form-control inputslider" id="inputhb2slider" placeholder="Slider">
                    </div>
                  </div>
                  <div class="row mt-2 ms-0 ps-0 sliderContainer">
                    <label for="inputhbc" class="col-sm-4 pe-0 col-form-label">R (Wave 3):
                      <sup class="myDIV"><i class="fa fa-question-circle-o"></i></sup>
                      <div class="hide" id="hidden-text">If a new variant emerges in future, and if it is more
                        infectious
                        than the delta variant, then R for the third wave will increase, relative to previous
                        waves.
                        Please enter a value of R, as a scenario for this virus. If you wish to model a virus
                        with the
                        same infectiousness as the delta variant, then you can use the same value of R as for
                        the second
                        wave.
                      </div>
                    </label>
                    <div class="col-sm-4 ps-2 pe-4">

                      <input min="1.02" type="number" value="" max="6" class="form-control sliderval" id="inputhb3"
                        step="0.001">


                    </div>
                    <div class="col-sm-3 ps-0 pe-0">
                      <input type="text" class="form-control inputslider" id="inputhb3slider" placeholder="Slider">
                    </div>
                  </div>

                </div>

                <div class="form-group ms-lg-4 ms-1  mt-2 pt-2 row mb-1 mb-xl-3 sliderContainer hide">
                  <label for="inputhbc" class="col-sm-6 col-form-label ">Population size:</label>
                  <div class="col-sm-5">
                    <input name="" type="number" value="" max="2000000" class="form-control sliderval" id="inputhpop">
                  </div>
                  <div class="col-sm-11 mt-3">
                    <input name="" type="text" class="form-control inputslider" id="inputhpopslider"
                      placeholder="Slider">
                  </div>
                </div>


              </div>

              <!-- <div class="form-group ms-lg-4 ms-1 row mb-1 mb-xl-3 sliderContainer">
                <label for="inputhtp" class="col-sm-7 col-form-label"> Ratio between the two peaks :</label>
                <div class="col-sm-4">
                  <input name="r2p" type="number" value="4" max="6" step="0.001" class="form-control sliderval"
                    id="inputhtp">
                </div>
                <div class="col-sm-11 mt-2">
                  <input name="r2p" type="text" class="form-control inputslider" id="inputhtpslider"
                    placeholder="Slider">
                </div>
              </div>
              <div class="form-group ms-lg-4 ms-1 row mb-1 mb-xl-3 sliderContainer">
                <label for="inputhsp" class="col-sm-7 col-form-label"> Seroprevalence(%) :</label>
                <div class="col-sm-4">
                  <input name="sterilePrev" type="number" value="7.1" max="100" step="0.01"
                    class="form-control sliderval" id="inputhsp">
                </div>
                <div class="col-sm-11">
                  <input name="sterilePrev" type="text" class="form-control inputslider" id="inputhspslider"
                    placeholder="Slider">
                </div>
              </div>
              <div class="form-group ms-lg-4 ms-1 row mb-1 mb-xl-3 sliderContainer">
                <label for="inputhdtp" class="col-sm-7 col-form-label"> Duration between the two peaks (Days) :</label>
                <div class="col-sm-4">
                  <input name="d2p" type="number" value="232" max="500" class="form-control sliderval" id="inputhdtp">
                </div>
                <div class="col-sm-11">
                  <input name="d2p" type="text" class="form-control inputslider" id="inputhdtpslider"
                    placeholder="Slider">
                </div>
              </div> -->


              <div class="form-group ms-lg-4 ms-1 mt-1 row sliderContainer hide">
                <label for="inputfpd" class="col-sm-5 col-form-label">What was the date of the first peak?
                  <sup class="myDIV"><i class="fa fa-question-circle-o"></i></sup>
                  <div class="hide" id="hidden-text">At the national level, the first peak occurred in mid-September
                    2020.
                    Timings may vary in different states.</div>
                </label>
                <div class="col-sm-6 mb-2">
                  <div class="input-group mt-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                    </div>
                    <input type="text" value="{{FirstPeaktDate}}" class="form-control fpd" id="inputfpd" name="">
                  </div>
                </div>

              </div>

              <!-- <div class="form-group ms-lg-4 ms-1 row mb-1 mb-xl-3 sliderContainer">
                <label for="inputhwa" class="col-sm-3 col-form-label">D<sub>1</sub> :
                  <br /><small>in Months</small>
                </label>
                <div class="col-sm-4 ps-1 pe-3">
                  {% if d1 %}
                  <input type="number" value="{{d1}}" max="100" class="form-control sliderval" id="inputhd1" name="d1">
                  {% else %}
                  <input type="number" value="0" max="100" class="form-control sliderval" id="inputhd1" name="d1">
                  {% endif %}
                </div>
                <div class="col-sm-4 ps-2">
                  <input type="text" class="form-control inputslider" id="inputhd1slider" placeholder="Slider"
                    name="d1">
                </div>
              </div>
              <div class="form-group ms-lg-4 ms-1 row mb-1 mb-xl-3 sliderContainer">
                <label for="inputhwa" class="col-sm-3 col-form-label">D<sub>2</sub> :
                  <br /><small>in Months</small>
                </label>
                <div class="col-sm-4 ps-1 pe-3">
                  {% if d2 %}
                  <input type="number" value="{{d2}}" max="100" class="form-control sliderval" id="inputhd2" name="d2">
                  {% else %}
                  <input type="number" value="0" max="100" class="form-control sliderval" id="inputhd2" name="d2">
                  {% endif %}
                </div>
                <div class="col-sm-4 ps-2">
                  <input type="text" class="form-control inputslider" id="inputhd2slider" placeholder="Slider"
                    name="d2">
                </div>
              </div> -->
            </div>
            <hr>
            <h5 class="ms-3 mb-2">
              <!-- <input type="checkbox" style="
              transform : scale(1.5);" name="checkadvanced" checked> -->
              Basic scenarios
            </h5>
            <h5 class="ms-3 mb-2" id="wave">Restriction scenarios for the second wave</h5>
            <div class="form-no-2">
              <!-- <label  class="col-sm-6 col-form-label ms-4"> Lockdown scenarios</label> -->
              <div class="form-group ms-lg-4 ms-1 mt-1 row mb-1 mb-xl-3 sliderContainer">
                <label for="inputsd" class="col-sm-5 col-form-label">State/District 2<sup>nd</sup> wave Restriction
                  Start Date:</label>
                <div class="col-sm-6 mb-2">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                    </div>
                    <input type="text" value="{{LockdownStartDate}}" class="form-control sd" id="inputsd"
                      name="LockdownStartDate">
                  </div>
                </div>
              </div>
              <div class="form-group ms-lg-4 ms-1 row mb-1 mb-xl-3 sliderContainer">
                <label for="inputed" class="col-sm-5 col-form-label">State/District 2<sup>nd</sup> wave Restriction End
                  Date:</label>
                <div class="col-sm-6 mb-2">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                    </div>
                    <input type="text" value="{{LockdownEndDate}}" class="form-control ed" id="inputed"
                      name="LockdownEndDate">
                  </div>
                </div>
              </div>
              <!-- <div class="form-group ms-lg-4 ms-1 row mb-1 mb-xl-3 sliderContainer">
                <label for="inputhld" class="col-sm-7 col-form-label">Lockdown Days :
                  <sup><i class="fa fa-question-circle-o" aria-hidden="true" data-toggle="tooltip"
                      data-placement="bottom" title="Days Between 2nd Wave end and lockdown start"></i></sup> <br />
                </label>
                <div class="col-sm-4">
                  <input name="lckDays" type="number" value="0" max="365" class="form-control sliderval" id="inputhld">
                </div>
                <div class="col-sm-11">
                  <input name="lckDays" type="text" class="form-control inputslider" id="inputhldslider"
                    placeholder="Slider">
                </div>
              </div> -->

              <div class="form-group ms-lg-4 ms-1 row mb-1 mb-xl-3 sliderContainer hide">
                <label for="inputhel" class="col-sm-7 col-form-label">Effectiveness of the lockdown:
                  <br />( in %) <sup class="myDIV"><i class="fa fa-question-circle-o"></i></sup>
                  <div class="hide" id="hidden-text">Please note that an effective lockdown will change the behaviour of
                    the second wave. Depending on your choice of effectiveness, you may need to adjust R0 for the second
                    wave (see above) in order to maintain the correct ratio between first and second wave peak heights.
                  </div>
                  <br /><small>in Reducing Transmission</small>
                </label>
                <div class="col-sm-4">
                  <input name="" type="number" value="" max="100" step="0.01" class="form-control sliderval"
                    id="inputhel">
                </div>
                <div class="col-sm-11">
                  <input name="" type="text" class="form-control inputslider" id="inputhelslider" placeholder="Slider">
                </div>
              </div>

              <div class="form-group ms-lg-4 ms-1 row mb-1 mb-xl-3 sliderContainer">
                <label for="inputherm" class="col-sm-7 col-form-label">Effectiveness of Restrictive Measures:
                  <sup class="myDIV"><i class="fa fa-question-circle-o"></i></sup>
                  <div class="hide" id="hidden-text">Different parts of India have exercised different restrictions, and
                    there is uncertainty about the actual effectiveness of these various measures.
                    When adjusting the slider below, you will see suggested values for effectiveness, for guidance.
                    Please enter the value of
                    effectiveness that you feel is best suited for your setting.
                    Note that more-effective lockdowns are likely to be followed by a third wave when they are lifted,
                    because they can leave a large proportion of the population still susceptible to infection.

                  </div>

                </label>
                <div class="col-sm-4">
                  <input name="rm" type="number" value="{{rm}}" max="100" step="0.01" class="form-control sliderval"
                    id="inputherm">
                </div>
                <div class="col-sm-11" id="changecolor">
                  <input name="" type="text" class="form-control inputslider" id="inputhermslider" placeholder="Slider">
                </div>
              </div>
              <p class="fs-10px" align="center" id="restrictive-measures"></p>


            </div>


            <hr>

            <div class="form-group ms-lg-4 ms-1 row mt-1 mb-1 mb-xl-3 sliderContainer">
              <label for="popden"> <input type="checkbox" id="popden" name="checkpop" value="checked" {{checkpop}}>
                Increase in population (due to migrant workers/ tourist
                influx/ religious gathering etc.)
                <sup class="myDIV"><i class="fa fa-question-circle-o"></i></sup>
                <div class="hide" id="hidden-text">Please click on the check box if the State/District is considered as
                  a destination that
                  substantial numbers of people would migrate to, either for livelihood OR tourism OR
                  religious events. Certain States may have.... that parameter
                  parameter.
                </div>
              </label>

              <br>

              <div class="answer-1 ps-">
                <div class="popinput d-flex">
                  <label for="inputpd" class="col-sm-7 col-form-label"> Increase in Population Density (%):

                  </label>
                  <div class="col-sm-4 pe-2">
                    <input type="number" value="{{popdens}}" max="200" step="0.01" class="form-control sliderval"
                      id="inputpd" name="popdens">
                  </div>
                </div>
                <div class="col-sm-11 pe-2 pt-2">
                  <input type="text" class="form-control inputslider" id="inputpdslider" placeholder="Slider" name="">
                </div>
              </div>
            </div>
            <hr>
            <h5 class="ms-3 mb-2" id="wave">Vaccination scenarios
            </h5>
            <div class="form-no-3">
              <div class="form-group ms-lg-4 ms-1 row mb-1 mb-xl-3 sliderContainer hide">
                <label for="inputed" class="col-sm-5 col-form-label">Vaccination Start Date:</label>
                <div class="col-sm-6 mb-2">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                    </div>
                    <input type="text" value="{{VaccStartDate}}" class="form-control vsd" id="inputvsd" name="">
                  </div>
                </div>
              </div>
              <div class="form-group ms-lg-4 ms-1 row mb-1 mb-xl-3 sliderContainer hide">
                <label for="inputhvr" class="col-sm-8 col-form-label">Vaccination Effectiveness:</label>
                <div class="col-sm-3">
                  <input name="" type="number" value="{{vaccEff}}" max="100" step="0.01" class="form-control sliderval"
                    id="inputhvr">
                </div>
                <div class="col-sm-11 mt-1">
                  <input name="" type="text" class="form-control inputslider" id="inputhvrslider" placeholder="Slider">
                </div>
              </div>
              <div class="form-group ms-lg-4 ms-1 row mb-1 mb-xl-3 sliderContainer">
                <label for="inputhpc" class="col-sm-7 col-form-label">As vaccination coverage is ramped up, what
                  percentage of people aged 18 years and above will ultimately receive BOTH doses?
                  <sup class="myDIV"><i class="fa fa-question-circle-o"></i></sup>
                  <div class="hide" id="hidden-text">Some states may already have achieved significant vaccination
                    coverage at the time of using this tool. However, please enter the coverage that you expect will
                    ULTIMATELY be reached
                  </div>
                </label>

                <div class="col-sm-4 pt-5 pe-3">
                  <input name="vaccCover" type="number" value="{{vaccCover}}" max="99.9" step="0.01"
                    class="form-control sliderval" id="inputhpc">
                </div>
                <div class="col-sm-11 mt-2">
                  <input name="" type="text" class="form-control inputslider" id="inputhpcslider" placeholder="Slider">
                </div>
              </div>
              <div class="form-group ms-lg-4 ms-1 row mb-1 mb-xl-3 sliderContainer">
                <label for="inputhvd" class="col-sm-8 col-form-label">How many months will it take to reach this level
                  of coverage?

                </label>
                <div class="col-sm-3 pt-3 pe-3">
                  <input name="vaccDays" type="number" value="{{vaccDays}}" max="12" class="form-control sliderval"
                    id="inputhvd">
                </div>
                <div class="col-sm-11 mt-1">
                  <input name="" type="text" class="form-control inputslider" id="inputhvdslider" placeholder="Slider">
                </div>

              </div>

            </div>

            <hr>
            <label class="ms-3 mb-2">
              <h5>
                <input type="checkbox" id="advanced" style="transform : scale(1.5);" name="checkadvanced"
                  value="checked" {{checkadvanced}}>
                Advanced scenarios
              </h5>
            </label>
            <div class="form-no-2 advanced-answer" id="advanced-answer">
              <div class="form-group ms-lg-4 ms-1 row mt-1 sliderContainer">
                <label for="wanning"> <input type="checkbox" id="wanning" name="wanning" value="checked" {{check}}>
                  Include Waning of Immunity</label>

                <div class="answer">
                  <div class="wainput d-flex">
                    <label for="inputhwa" class="col-sm-7 col-form-label ms-3">Duration of Immunity:

                      <sup class="myDIV"><i class="fa fa-question-circle-o"></i></sup>
                      <div class="hide" id="hidden-text">
                        If immunity of a population group against COVID-19 wanes, individual
                        members may still have some residual protection due to varying rate of
                        such decrease and trained arm of cellular immunity. Scenarios as extreme
                        as below could generate a third wave against this backdrop:
                        <ul>
                          <li>Suggested quick waning (worst-case scenario): 4 months to 1 year</li>

                          <li>Suggested waning over a moderate time period: 1 - 1.5 years</li>

                          <li>Suggested waning over a long period (best case scenario): 1.5 years
                            upwards</li>
                        </ul>
                        If no country/state/district specific data is available on waning period for
                        immunity – please leave this field blank.
                      </div><br /><small>(in
                        month)</small>
                    </label>
                    <div class="col-sm-4 pe-4">
                      <input type="number" value="{{wa}}" max="24" class="form-control sliderval" id="inputhwa"
                        name="wa">
                    </div>
                  </div>
                  <div class="col-sm-11 ps-3">
                    <input type="text" class="form-control inputslider" id="inputhwaslider" placeholder="Slider"
                      name="">
                  </div>
                </div>
              </div>

              <div class="form-group ms-lg-4 ms-1  mt-2 pt-2 row mb-1 mb-xl-3 sliderContainer">
                <label for="inputhwa" class="col-sm-8  col-form-label" id="wave">New Variant Details</label>
              </div>

              <div class="form-group ms-lg-4 ms-1 row mt-1 mb-1 mb-xl-3">
                <label for="inputfvd" class="col-sm-5 col-form-label">Date of emergence of New variant
                  <sup class="myDIV"><i class="fa fa-question-circle-o"></i></sup>
                  <div class="hide" id="hidden-text">
                    A new variant could either be more infectious/transmissible
                    or show immune escape
                    <br> Please enter the date on which such a variant was reported to be
                    detected in the population. <br>
                    If no report is available on emergence on of a new variant, which is more
                    transmissible than the one, responsible for the second wave, please leave
                    this field blank. <br>
                    If no report is available on emergence of a new variant, which has the
                    ability of escaping immunity, please leave this field blank.
                  </div>
                  <br /><small>Transmission efficient/ Immune escape ability</small>
                </label>
                <div class="col-sm-6 mb-2 mt-4">
                  <div class="input-group ">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                    </div>
                    <input type="text" value="{{ThirdWaveEmergenceDate}}" class="form-control fvd" id="inputfvd"
                      name="ThirdWaveEmergenceDate">
                  </div>
                </div>
              </div>
              <div class="form-group ms-lg-4 ms-1 row mt-1 mb-1 mb-xl-3 sliderContainer">
                <label for="trans"> <input type="checkbox" id="trans" name="checktrans" value="checked" {{checktrans}}>
                  Increase in transmissibility of new variant, relative to second-wave virus
                  <sup class="myDIV"><i class="fa fa-question-circle-o"></i></sup>
                  <div class="hide" id="hidden-text">
                    If the third wave arises from a new variant, please enter the transmissibility of this virus is more
                    infectious than the delta variant. A value of 0 (zero) means that the new variant is equally
                    infectious to the delta variant.</div>
                </label>

                <br>

                <div class="answer-trans">
                  <div class="popinput d-flex">
                    <label for="inputtrans" class="col-sm-7 col-form-label">Increase in transmissibility(%):

                    </label>
                    <div class="col-sm-4 pe-2">
                      <input type="number" value="{{trans}}" max="300" class="form-control sliderval" id="inputtrans">
                    </div>
                  </div>
                  <div class="col-sm-11 pe-2 pt-2">
                    <input type="text" class="form-control inputslider" id="inputtransslider" placeholder="Slider"
                      name=trans>
                  </div>
                </div>
              </div>

              <div class="form-group ms-lg-4 ms-1 row mb-1 mb-xl-3 sliderContainer">
                <label for="inputhie" class="col-sm-7 col-form-label">Third wave immune escape (%) :
                  <sup class="myDIV"><i class="fa fa-question-circle-o"></i></sup>
                  <div class="hide" id="hidden-text" style="position: absolute;
                  z-index: 10;margin-top: -13rem;">
                    As one scenario for a third wave, we consider the possibility of a variant capable of fully escaping
                    previous immunity. As above, this is an extreme but illustrative scenario.
                    To model immune escape, please specify what proportion of previously infected people would be fully
                    susceptible to reinfection by the new variant.

                  </div>
                  <!-- <br /><small>in Months</small> -->
                </label>
                <div class="col-sm-4">
                  <input name="thie" type="number" value="{{thie}}" max="100" class="form-control sliderval"
                    id="inputhie" step="0.01">
                </div>
                <div class="col-sm-11 mt-2">
                  <input name="" type="text" class="form-control inputslider" id="inputhieslider" placeholder="Slider">
                </div>
              </div>
              <div class="form-group ms-lg-4 ms-1  mt-2 pt-2 row mb-1 mb-xl-3 sliderContainer">
                <label for="inputhwa" class="col-sm-8  col-form-label" id="wave">Third Wave severity relative to
                  Delta</label>
              </div>

              <div class="form-group ms-lg-4 ms-1 row mb-1 mb-xl-3 sliderContainer">
                <label for="inputhie" class="col-sm-7 col-form-label">Proportion needing hospitalization, relative to
                  Delta
                  <sup class="myDIV"><i class="fa fa-question-circle-o"></i></sup>
                  <div class="hide" id="hidden-text" style="position: absolute;
                  z-index: 10;margin-top: -13rem;">
                    Out of all symptomatic cases, how do hospitalisation rates compare between omicron and delta? For
                    example, if the rate of hospitalisation with omicron is half that of delta, enter the value 0.5.
                  </div>
                  <!-- <br /><small>in Months</small> -->
                </label>
                <div class="col-sm-4">
                  <input name="proportionHospital" type="number" value="{{proportionHospital}}" max="1"
                    class="form-control sliderval" id="inpuproportionHospital" step="0.01">
                </div>
                <div class="col-sm-11 mt-2">
                  <input name="" type="text" class="form-control inputslider" id="inpuproportionHospitalslider"
                    placeholder="Slider">
                </div>
              </div>
              <div class="form-group ms-lg-4 ms-1 row mb-1 mb-xl-3 sliderContainer">
                <label for="inputhie" class="col-sm-7 col-form-label">Proportion needing oxygen support, relative to
                  Delta
                  <sup class="myDIV"><i class="fa fa-question-circle-o"></i></sup>
                  <div class="hide" id="hidden-text" style="position: absolute;
                  z-index: 10;margin-top: -13rem;">
                    Out of all symptomatic cases, how does the requirement for oxygen support compare between omicron
                    and delta? For example, if rates associated with omicron are only a quarter of those associated with
                    delta, enter the value 0.25.
                  </div>
                  <!-- <br /><small>in Months</small> -->
                </label>
                <div class="col-sm-4">
                  <input name="proportionOxygen" type="number" value="{{proportionOxygen}}" max="1"
                    class="form-control sliderval" id="inpuproportionOxygen" step="0.01">
                </div>
                <div class="col-sm-11 mt-2">
                  <input name="" type="text" class="form-control inputslider" id="inpuproportionOxygenslider"
                    placeholder="Slider">
                </div>
              </div>

              <div class="form-group ms-lg-4 ms-1 row mt-1 mb-1 mb-xl-3 sliderContainer">
                <label for="homecare"> <input name="homecare" type="checkbox" id="homecare" value="1" {{checkhomecare}}>
                  Whether to recommend home-based monitoring and care
                  <sup class="myDIV"><i class="fa fa-question-circle-o"></i></sup>
                  <div class="hide" id="hidden-text" style="position: absolute;
                  z-index: 10;margin-top: -13rem;">
                    Not all patients seeking hospital care may need oxygen support. By asking patients to monitor their
                    own oxygen saturation at home before seeking hospital care, it may be possible to reduce pressure on
                    hospital capacity (see <a href="https://www.icmr.gov.in/pdf/covid/techdoc/COVID_HOME_CARE_En_05012022.pdf">ICMR guidelines</a>).</div>
                </label>

                <br>


                <div class="answer-trans">
                  <div class="popinput d-flex">
                    <label for="inputtrans" class="col-sm-7 col-form-label">Increase in transmissibility(%):

                    </label>
                    <div class="col-sm-4 pe-2">
                      <input type="number" value="{{trans}}" max="300" class="form-control sliderval" id="inputtrans">
                    </div>
                  </div>
                  <div class="col-sm-11 pe-2 pt-2">
                    <input type="text" class="form-control inputslider" id="inputtransslider" placeholder="Slider"
                      name=trans>
                  </div>
                </div>
              </div>

            </div>
            <!-- <div class="sidenav-btn row ms-4 mt-3  pb-5 text-center">
                    <div class="col-md-12">
                      
                      <button type="submit" class="btn btn-primary mr-2 w-fit-content" id="submitBtn">Simulate</button>
                      <button type="reset" class="btn btn-light w-fit-content">Reset</button>
                    </div>
    
                  </div> -->
            <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
            <div class="sidenav-btn row ms-lg-4 ms-1 mt-4 ps-4 pt-3 pb-3 d-lg-none d-sm-block">
              <div class="col-md-4 d-flex  mt-3">

                <button type="submit" id="form-button" class="btn btn-primary pe-5 ps-5 mt-1 me-1">Simulate</button>
                <button type="submit" id="form-button" class="btn bg-light pe-5 ps-5 ms-2"><a
                    href="/advanced-dashboard/">
                    Reset</a></button>
              </div>

            </div>
        </div>
        <div class="sidenav-btn row ms-lg-4 ms-1 mt-4 ps-4 pt-3 pb-3 fixed-bottom d-sm-none d-lg-block">
          <div class="col-md-4 d-flex  mt-3">

            <button type="submit" id="form-button" class="btn btn-primary pe-5 ps-5 mt-1 me-1 mb-1">Simulate</button>
            <button type="reset" id="form-button" class="btn btn-outline-secondary pe-5 ps-5 mt-1 me-1 mb-1"><a
                href="/advanced-dashboard/">
                Reset</a></button>
          </div>

        </div>
      </div>
      </form>
    </div>
    <div id="main" class="main-content">
      <header class="mb-3 d-lg-none d-xl-none">
        <a href="#" class="burger-btn d-block d-xl-none">
          <i class="bi bi-justify fs-3"></i>
        </a>
      </header>


      <div class="page-content">

        <div class="bs-example {{ seroAlert }}">
          <div style="position: relative;">
            <div style=" position: absolute;top: -22px;width: 500px;z-index: 100;left: 150px;">
              <div class="toast fade show text-white">
                <div class="toast-header d-flex justify-content-between">
                  <strong class="mr-auto text-white"><i class="fa fa-info-circle pe-2"></i>Seroprevalence Alert</strong>
                  <!-- <button type="button" id="closebutton" class="ml-2 mb-1 close"
                    onclick="$(this).parent().parent().hide();" data-dismiss="toast">
                    <i class="fa fa-times text-white"></i></button> -->
                </div>
                <div class="toast-body">
                  <strong>Seroprevalence Value is too high/low to calibrate. <br> Please adjust seroprevalence value.
                  </strong>
                  <div class="d-flex justify-content-end">
                    <button type="button" id="alertbtn" onclick="$(this).parent().parent().parent().hide();"
                      class="btn btn-secondary mt-3">OK</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="bs-example {{ fvalert }}">
          <div style="position: relative;">
            <div style=" position: absolute;top: -22px;width: 500px;z-index: 100;left: 150px;">
              <div class="toast fade show text-white">
                <div class="toast-header d-flex justify-content-between">
                  <strong class="mr-auto text-white"><i class="fa fa-info-circle pe-2"></i>Error Message</strong>
                  <!-- <button type="button" id="closebutton" class="ml-2 mb-1 close"
                    onclick="$(this).parent().parent().hide();" data-dismiss="toast">
                    <i class="fa fa-times text-white"></i></button> -->
                </div>
                <div class="toast-body">
                  <strong>{{fvalertmsg}}
                  </strong>
                  <div class="d-flex justify-content-end">
                    <button type="button" id="alertbtn" onclick="$(this).parent().parent().parent().hide();"
                      class="btn btn-secondary mt-3">OK</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row" id="printableArea">
          <div class="col-lg-8 col-xs-12 col-sm-12">
            <!-- <div class="alert alert-success" role="alert">
                  {{message}}
                </div> -->
            <div class="card " id="chart-card">
              <div class="card-header pb-0">
                <!-- <span style="font-weight: bolder; color:#f15b59;">Advanced:</span> -->
                <span style="font-weight: bolder;">Simulated multi-wave dynamics of COVID-19</span>
              </div>

              <div class="card-body pt-0" id="plotly">
                <!-- <figure class="highcharts-figure"> -->
                <!-- <div id="container-1"></div> -->
                <div id="chart" class="chart">

                </div>
                <!-- </figure> -->

              </div>
            </div>
            <div class="sero p-1">
              <label class="simulate-label">Seroprevalence {{seropeak}}% as of {{FirstPeaktDate}}
                <sup class="myDIV-1"><i class="fa fa-question-circle-o"></i></sup>
                <div class="hide-1" id="hidden-text-1">At the national level, the second seroprevalence survey found a
                  seroprevalence of around 8.1% at first wave peak. This value may vary in different states.</div>
              </label>
            </div>
            <div class="prediction  d-lg-none">
              {% if wavestatus==0 %}
              <div class="thirdwave p-1 mt-4" style="background-color: #3bb691; color: #fff">Third Wave is not predicted
                {% else %}
                <div class="thirdwave p-1 mt-4" style="background-color: #ff7976; color:#ffff;"> Third
                  Wave Predicted
                  {% endif %}
                </div>
              </div>
            </div>

            <!-- <div class="d-sm-block d-lg-none pt-3 pb-3 ps-2" id="results-data">
                <div class="row">
                  <div class="col-12 mb-1">
                    <div class="sero p-1">
                      <label>Simulated Seroprevalence {{recoveryCases}}% as of {{seroDate}}
                        <sup class="myDIV-1"><i class="fa fa-question-circle-o"></i></sup>
                        <div class="hide-1" id="hidden-text-1">At the national level, the second seroprevalence survey found a
                          seroprevalence of around 7% in early September 2020. This value may vary in different states.</div>
                      </label>
                    </div>
                  </div>
                  <div class="col-12 mt-4">
                    {% if wavestatus==0 %}
                    <div class="thirdwave p-1" style="background-color: #3bb691; color: #fff">Third Wave is not predicted
                      {% else %}
                      <div class="thirdwave p-1" style="background-color: #ff7976; color:#ffff;"> Third
                        Wave Predicted
                        {% endif %}
                      </div>
                    </div>
                  </div>
                </div>
               
               
              </div> -->


            <div class="main-table col-lg-4 col-xs-12 col-sm-12">
              <!-- Bordered table start -->
              <section class="section">
                <div class="row" id="table-bordered">
                  <div class="col-12">
                    <div class="card" id="chart-table">
                      <div class="card-header">
                        <h5 class="card-title" id="table-title">Peak Healthcare demand for <br> 3<sup>rd</sup>
                          wave scenarios <br>(per
                          million population)</h5>
                      </div>
                      <div class="card-content">
                        <!-- table bordered -->
                        <div class="table-responsive">
                          <table class="table" id="peak-table">
                            <thead class="peak-head">
                              <tr class="text-center">
                                <th class="pt-3 pb-3" rowspan="2">Among <br> Symptomatic <br> Cases</th>
                                <th class="pt-3 pb-3" colspan="3" scope="colgroup">Age Groups (Years)</th>
                                <th class="pt-3 pb-3" rowspan="2">Total</th>
                              </tr>
                              <tr>
                                <th scope="col" class="pt-3 pb-3">
                                  0-17 </th>
                                <th scope="col" class="pt-3 pb-3">18-59 </th>
                                <th scope="col" class="pt-3 pb-3">>59 </th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td class="text-bold-500 pt-3 pb-3">Needing<br> Hospitalization<br> (Occupancy)
                                </td>
                                <td class="pt-3 pb-3" style="text-align: center">{{preparedness[0]}}</td>
                                <td class="pt-3 pb-3" style="text-align: center">{{preparedness[1]}}</td>
                                <td class="pt-3 pb-3" style="text-align: center">{{preparedness[2]}}</td>
                                <td class="pt-3 pb-3" style="text-align: center">{{preparedness[9]}}</td>
                              </tr>
                              <tr>
                                <td class="text-bold-500 pt-3 pb-3">Needing <br> Oxygen<br> (Occupancy)</td>
                                <td class="pt-3 pb-3" style="text-align: center">{{preparedness[3]}}</td>
                                <td class="pt-3 pb-3" style="text-align: center">{{preparedness[4]}}</td>
                                <td class="pt-3 pb-3" style="text-align: center">{{preparedness[5]}}</td>
                                <td class="pt-3 pb-3" style="text-align: center">{{preparedness[10]}}</td>
                              </tr>
                              <tr>
                                <td class="text-bold-500 pt-3 pb-3">Needing <br> Ventilator<br> (Occupancy)</td>
                                <td class="pt-3 pb-3" style="text-align: center">{{preparedness[6]}}</td>
                                <td class="pt-3 pb-3" style="text-align: center">{{preparedness[7]}}</td>
                                <td class="pt-3 pb-3" style="text-align: center">{{preparedness[8]}}</td>
                                <td class="pt-3 pb-3" style="text-align: center">{{preparedness[11]}}</td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div>
                  {% if wavestatus==0 %}
                  <div class="thirdwave-1 p-1" style="background-color: #3bb691; color: #fff">Third Wave is not
                    predicted
                    {% else %}
                    <div class="thirdwave-1 p-1" style="background-color: #ff7976; color:#ffff;"> Third
                      Wave Predicted
                      {% endif %}
                    </div>
                  </div>
                </div>

              </section>

              <!-- Bordered table end -->
            </div>

            <!-- <div class="d-flex justify-content-between fixed-bottom  pt-3 pb-3 ps-2" id="results-data">
              <div class="sero p-1 col-5">
                <label>Simulated Seroprevalence {{recoveryCases}}% as of {{seroDate}}
                  <sup class="myDIV-1"><i class="fa fa-question-circle-o"></i></sup>
                  <div class="hide-1" id="hidden-text-1">At the national level, the second seroprevalence survey found a
                    seroprevalence of around 7% in early September 2020. This value may vary in different states.</div>
                </label>
              </div>
              {% if wavestatus==0 %}
              <div class="thirdwave p-1 col-3" style="background-color: #3bb691; color: #fff">Third Wave is not predicted
                {% else %}
                <div class="thirdwave p-1 col-3" style="background-color: #ff7976; color:#ffff;"> Third
                  Wave Predicted
                  {% endif %}
                </div>
              </div>
            </div> -->


          </div>


        </div>

        <div class="modal" tabindex="-1" id="mymodal">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Simulation Message</h5>
                <!-- <button type="button" id="modalbtn" class="btn-close" data-bs-dismiss="modal"
                  aria-label="Close"></button> -->
              </div>
              <div class="modal-body">
                <p id="modal-msg"> Modal body text goes here.</p>
              </div>
              <!-- <div class="proContainer ms-2 me-2">
                <div class="progressBar"></div>

              </div> -->
              <div class="modal-footer mt-2">
                <button type="button" id="modalbtn" class="btn btn-secondary" data-bs-dismiss="modal">OK</button>
              </div>
            </div>
          </div>
        </div>

        <div class="modal" tabindex="-1" id="mymodalp">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Simulation Message</h5>
                <!-- <button type="button" id="modalbtn" class="btn-close" data-bs-dismiss="modal"
                  aria-label="Close"></button> -->
              </div>
              <div class="modal-body">
                <p id="modal-msgp"> Modal body text goes here.</p>
              </div>
              <div class="proContainer ms-2 me-2">
                <div class="progressBar"></div>

              </div>
              <div class="modal-footer mt-2">
                <button type="button" id="modalbtnp" class="btn btn-secondary" onclick="history.go(0)"
                  data-bs-dismiss="modal">Cancel Simulation</button>
              </div>
            </div>
          </div>
        </div>

      </div>


      <footer class="footer fixed-bottom" id="footer-about">
        <div class="foo-main  pt-2 ps-3 pe-3 pb-2">
          <div class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2021. All rights
            reserved.</div>
          <div class="text-muted text-center text-sm-right d-block d-sm-inline-block">
            <a href="https://www.duretechnologies.com" target="_blank">
              <img class="dure-logo" src="{{ url_for('static', filename='images/dure.png') }}" alt="dure-logo">
            </a>
          </div>
        </div>
      </footer>

    </div>
  </div>

  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script type="text/javascript">
    var graphs = {{ graphJSON | safe}};
    Plotly.plot('chart', graphs, {});
  </script>

  <script src="{{ url_for('static', filename='vendors/perfect-scrollbar/perfect-scrollbar.min.js') }}"></script>
  <!-- <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script> -->

  <!-- <script src="{{ url_for('static', filename='vendors/apexcharts/apexcharts.js') }}"></script> -->
  <!-- <script src="{{ url_for('static', filename='js/pages/dashboard.js') }}"></script> -->

  <!--jQuery-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

  <!--Plugin JavaScript file-->
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.1/js/ion.rangeSlider.min.js"></script> -->
  <script src="/static/css/ion.rangeSlider-master/js/ion.rangeSlider.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"
    integrity="sha256-bqVeqGdJ7h/lYPq6xrPv/YGzMEb6dNxlfiTUHSgRCp8=" crossorigin="anonymous"></script>
  <!-- <script src="https://code.highcharts.com/highcharts.js"></script> -->
  <!-- <script src="https://code.highcharts.com/modules/series-label.js"></script> -->
  <!-- <script src="https://code.highcharts.com/modules/exporting.js"></script> -->
  <!-- <script src="https://code.highcharts.com/modules/export-data.js"></script> -->
  <!-- <script src="https://code.highcharts.com/modules/accessibility.js"></script> -->

  <script src="{{ url_for('static', filename='js/jspdf.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/moment-with-locales.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/html2canvas.min.js') }}"></script>

  <!-- <script src="{{ url_for('static', filename='js/main.js') }}"></script> -->
  <script src="{{ url_for('static', filename='js/form.js') }}"></script>
  <!-- <script src="{{ url_for('static', filename='js/charts.js') }}"></script> -->

</body>

</html>